In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [4]:
tf.__version__

'2.9.0'

In [5]:
df=pd.read_csv('final_dataset.csv')
df.head()

C:\Users\NIVAS\AppData\Local\Temp\ipykernel_25940\237924754.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('final_dataset.csv')

,Unnamed: 0,name,category_list,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,investment_type,Unique,P/S,Successful
0,0,#fame,Media,10000000.0,operating,IND,1,2014,2015,2015,Debt Funding,1,0,No
1,1,:Qounter,Application Platforms,700000.0,operating,USA,2,2014,2014,2014,Private Equity,1,1,Yes
2,2,"(THE) ONE of THEM,Inc.",Apps,3406878.0,operating,USA,1,2014,2014,2014,Seed Funding,0,1,No
3,3,0-6.com,Curated Web,2000000.0,operating,CHN,1,2007,2008,2008,Debt Funding,0,0,Yes
4,4,004 Technologies,Software,0.0,operating,USA,1,2010,2014,2014,Debt Funding,0,1,No

In [6]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
df.isnull().sum()

name                    2
category_list        3106
funding_total_usd       0
status                  0
country_code            0
funding_rounds          0
founded_at              0
first_funding_at        0
last_funding_at         0
investment_type         0
Unique                  0
P/S                     0
Successful              0
dtype: int64

In [8]:
import random
categ_list=['Biotechnology','Software','E-Commerce','Advertising','Curated Web']
df['category_list']=df['category_list'].fillna(random.choice(categ_list))

In [9]:
df.isnull().sum()

name                 2
category_list        0
funding_total_usd    0
status               0
country_code         0
funding_rounds       0
founded_at           0
first_funding_at     0
last_funding_at      0
investment_type      0
Unique               0
P/S                  0
Successful           0
dtype: int64

In [10]:
df['category_list'].nunique()

745

In [11]:
df['category_list'].value_counts()

Curated Web           5342
Biotechnology         4511
Software              4298
E-Commerce            2807
Advertising           2426
                      ...
Direct Advertising       1
Self Development         1
Social Television        1
Swimming                 1
Social Media Agent       1
Name: category_list, Length: 745, dtype: int64

In [12]:
vc = df['category_list'].value_counts()
l1=vc[vc < 200].index.tolist()
for i in df['category_list']:
    if i in l1:
        df['category_list']=df['category_list'].replace(i,'Others')
        
df['category_list'].value_counts()

Others                    17430
Curated Web                5342
Biotechnology              4511
Software                   4298
E-Commerce                 2807
Advertising                2426
Mobile                     1843
Analytics                  1652
Apps                       1497
Health Care                1457
Clean Technology           1426
Enterprise Software        1405
Games                      1310
Health and Wellness        1241
Finance                    1147
Hardware + Software        1133
Education                  1086
Manufacturing               896
Consulting                  732
Internet                    655
Cloud Computing             609
Entertainment               584
Android                     552
Semiconductors              543
Social Media                519
Hospitality                 511
Real Estate                 492
Security                    485
Fashion                     477
Automotive                  475
Big Data                    424
Business Services           408
Information Technology      383
Design                      380
Web Hosting                 369
Consumer Electronics        333
Medical                     325
B2B                         323
Financial Services          317
Consumer Goods              312
Collaboration               307
EdTech                      304
Technology                  297
Messaging                   284
Content                     279
News                        267
Music                       266
Digital Media               258
Travel                      256
Big Data Analytics          245
Media                       240
Application Platforms       230
Networking                  230
Brand Marketing             215
Fitness                     214
Computers                   209
Energy                      203
Services                    202
Sports                      200
Name: category_list, dtype: int64

In [13]:
df['status'].nunique()

4

In [14]:
df['country_code'].nunique()

137

In [15]:
df['country_code'].value_counts()

USA    45543
GBR     3749
CAN     1968
IND     1630
CHN     1570
       ...
BRN        1
BRB        1
IRN        1
MNE        1
MAF        1
Name: country_code, Length: 137, dtype: int64

In [16]:
vc = df['country_code'].value_counts()
l1=vc[vc < 500].index.tolist()
for i in df['country_code']:
    if i in l1:
        df['country_code']=df['country_code'].replace(i,'Others')
        
df['country_code'].value_counts()

USA       45543
Others     8305
GBR        3749
CAN        1968
IND        1630
CHN        1570
FRA        1156
DEU        1125
ISR         994
ESP         765
AUS         510
NLD         506
Name: country_code, dtype: int64

In [17]:
df['investment_type'].nunique()

4

In [18]:
df['Successful'].nunique()

2

In [19]:
catglist=['status','category_list','country_code','investment_type','Successful']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for feat in catglist:
    df[feat]=le.fit_transform(df[feat])

In [20]:
df.head()

,name,category_list,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,investment_type,Unique,P/S,Successful
0,#fame,41,10000000.0,3,7,1,2014,2015,2015,1,1,0,0
1,:Qounter,3,700000.0,3,11,2,2014,2014,2014,2,1,1,1
2,"(THE) ONE of THEM,Inc.",4,3406878.0,3,11,1,2014,2014,2014,3,0,1,0
3,0-6.com,20,2000000.0,3,2,1,2007,2008,2008,1,0,0,1
4,004 Technologies,54,0.0,3,11,1,2010,2014,2014,1,0,1,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67821 entries, 0 to 67820
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               67819 non-null  object
 1   category_list      67821 non-null  int32
 2   funding_total_usd  67821 non-null  float64
 3   status             67821 non-null  int32
 4   country_code       67821 non-null  int32
 5   funding_rounds     67821 non-null  int64
 6   founded_at         67821 non-null  object
 7   first_funding_at   67821 non-null  object
 8   last_funding_at    67821 non-null  object
 9   investment_type    67821 non-null  int32
 10  Unique             67821 non-null  int64
 11  P/S                67821 non-null  int64
 12  Successful         67821 non-null  int32
dtypes: float64(1), int32(5), int64(3), object(4)
memory usage: 5.4+ MB

In [22]:
year=[]
from datetime import datetime
for i in df['founded_at']:
    i=str(i).replace('-','0')
    i='2'+i[1:]
    i=datetime.strptime(i, '%Y')
    year.append(i.year)
    
df['founded_at']=year

In [23]:
year=[]
from datetime import datetime
for i in df['first_funding_at']:
    i=str(i).replace('-','0')
    i='2'+i[1:]
    i=datetime.strptime(i, '%Y')
    year.append(i.year)
    
df['first_funding_at']=year

In [24]:
year=[]
from datetime import datetime
for i in df['last_funding_at']:
    i=str(i).replace('-','0')
    i='2'+i[1:]
    i=datetime.strptime(i, '%Y')
    year.append(i.year)
    
df['last_funding_at']=year

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67821 entries, 0 to 67820
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               67819 non-null  object
 1   category_list      67821 non-null  int32
 2   funding_total_usd  67821 non-null  float64
 3   status             67821 non-null  int32
 4   country_code       67821 non-null  int32
 5   funding_rounds     67821 non-null  int64
 6   founded_at         67821 non-null  int64
 7   first_funding_at   67821 non-null  int64
 8   last_funding_at    67821 non-null  int64
 9   investment_type    67821 non-null  int32
 10  Unique             67821 non-null  int64
 11  P/S                67821 non-null  int64
 12  Successful         67821 non-null  int32
dtypes: float64(1), int32(5), int64(6), object(1)
memory usage: 5.4+ MB

In [26]:
X=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [29]:
ann = tf.keras.models.Sequential()

In [30]:
ann.add(tf.keras.layers.Dense(units=32, activation='relu'))

In [31]:
ann.add(tf.keras.layers.Dense(units=128, activation='relu'))

In [32]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [33]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [34]:
ann.fit(X_train, y_train, batch_size = 16, epochs = 100)

Epoch 1/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6124 - accuracy: 0.7032
Epoch 2/100
3391/3391 [==============================] - 4s 1ms/step - loss: 0.6093 - accuracy: 0.7036
Epoch 3/100
3391/3391 [==============================] - 4s 1ms/step - loss: 0.6085 - accuracy: 0.7037
Epoch 4/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6082 - accuracy: 0.7038
Epoch 5/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6082 - accuracy: 0.7037
Epoch 6/100
3391/3391 [==============================] - 6s 2ms/step - loss: 0.6078 - accuracy: 0.7037
Epoch 7/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6079 - accuracy: 0.7037
Epoch 8/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6076 - accuracy: 0.7037
Epoch 9/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6075 - accuracy: 0.7037
Epoch 10/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6073 - accuracy: 0.7038
Epoch 11/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6071 - accuracy: 0.7038
Epoch 12/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6071 - accuracy: 0.7037
Epoch 13/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6068 - accuracy: 0.7037
Epoch 14/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6068 - accuracy: 0.7037
Epoch 15/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6066 - accuracy: 0.7038
Epoch 16/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6064 - accuracy: 0.7039
Epoch 17/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6063 - accuracy: 0.7037
Epoch 18/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6063 - accuracy: 0.7038
Epoch 19/100
3391/3391 [==============================] - 4s 1ms/step - loss: 0.6059 - accuracy: 0.7039
Epoch 20/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6057 - accuracy: 0.7039
Epoch 21/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6055 - accuracy: 0.7038
Epoch 22/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6054 - accuracy: 0.7040
Epoch 23/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6049 - accuracy: 0.7039
Epoch 24/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6049 - accuracy: 0.7041
Epoch 25/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6048 - accuracy: 0.7043
Epoch 26/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6044 - accuracy: 0.7040
Epoch 27/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6043 - accuracy: 0.7044
Epoch 28/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6041 - accuracy: 0.7041
Epoch 29/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6041 - accuracy: 0.7045
Epoch 30/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6038 - accuracy: 0.7044
Epoch 31/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6038 - accuracy: 0.7043
Epoch 32/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6031 - accuracy: 0.7043
Epoch 33/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6033 - accuracy: 0.7041
Epoch 34/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6032 - accuracy: 0.7043
Epoch 35/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6029 - accuracy: 0.7046
Epoch 36/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6026 - accuracy: 0.7046
Epoch 37/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6024 - accuracy: 0.7046
Epoch 38/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6022 - accuracy: 0.7046
Epoch 39/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6020 - accuracy: 0.7047
Epoch 40/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6017 - accuracy: 0.7051
Epoch 41/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6018 - accuracy: 0.7052
Epoch 42/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6015 - accuracy: 0.7049
Epoch 43/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6014 - accuracy: 0.7052
Epoch 44/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6010 - accuracy: 0.7053
Epoch 45/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6012 - accuracy: 0.7052
Epoch 46/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.6007 - accuracy: 0.7058
Epoch 47/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.6008 - accuracy: 0.7053
Epoch 48/100
3391/3391 [==============================] - 7s 2ms/step - loss: 0.6006 - accuracy: 0.7050
Epoch 49/100
3391/3391 [==============================] - 7s 2ms/step - loss: 0.6007 - accuracy: 0.7054
Epoch 50/100
3391/3391 [==============================] - 6s 2ms/step - loss: 0.6001 - accuracy: 0.7056
Epoch 51/100
3391/3391 [==============================] - 6s 2ms/step - loss: 0.6000 - accuracy: 0.7059
Epoch 52/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.5997 - accuracy: 0.7061
Epoch 53/100
3391/3391 [==============================] - 5s 2ms/step - loss: 0.5995 - accuracy: 0.7058
Epoch 54/100
3391/3391 [==============================] - 6s 2ms/step - loss: 0.5996 - accuracy: 0.7058
Epoch 55/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.5993 - accuracy: 0.7059
Epoch 56/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.5989 - accuracy: 0.7056
Epoch 57/100
3391/3391 [==============================] - 5s 1ms/step - loss: 0.5990 - accuracy: 0.7058
Epoch 58/100
3391/3391 [==============================] - 15s 4ms/step - loss: 0.5987 - accuracy: 0.7060
Epoch 59/100
3391/3391 [==============================] - 15s 4ms/step - loss: 0.5986 - accuracy: 0.7063
Epoch 60/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5987 - accuracy: 0.7062
Epoch 61/100
3391/3391 [==============================] - 11s 3ms/step - loss: 0.5978 - accuracy: 0.7058
Epoch 62/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5987 - accuracy: 0.7063
Epoch 63/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5977 - accuracy: 0.7058
Epoch 64/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5980 - accuracy: 0.7060
Epoch 65/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5980 - accuracy: 0.7059
Epoch 66/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5976 - accuracy: 0.7066
Epoch 67/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5973 - accuracy: 0.7064
Epoch 68/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5974 - accuracy: 0.7061
Epoch 69/100
3391/3391 [==============================] - 16s 5ms/step - loss: 0.5969 - accuracy: 0.7065
Epoch 70/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5974 - accuracy: 0.7062
Epoch 71/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5967 - accuracy: 0.7066
Epoch 72/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5968 - accuracy: 0.7064
Epoch 73/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5967 - accuracy: 0.7065
Epoch 74/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5963 - accuracy: 0.7067
Epoch 75/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5967 - accuracy: 0.7063
Epoch 76/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5962 - accuracy: 0.7064
Epoch 77/100
3391/3391 [==============================] - 15s 4ms/step - loss: 0.5963 - accuracy: 0.7066
Epoch 78/100
3391/3391 [==============================] - 14s 4ms/step - loss: 0.5957 - accuracy: 0.7069
Epoch 79/100

3391/3391 [==============================] - 12s 4ms/step - loss: 0.5957 - accuracy: 0.7066
Epoch 80/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5957 - accuracy: 0.7069
Epoch 81/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5958 - accuracy: 0.7068
Epoch 82/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5955 - accuracy: 0.7069
Epoch 83/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5953 - accuracy: 0.7073
Epoch 84/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5956 - accuracy: 0.7072
Epoch 85/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5952 - accuracy: 0.7067
Epoch 86/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5953 - accuracy: 0.7070
Epoch 87/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5951 - accuracy: 0.7073
Epoch 88/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5953 - accuracy: 0.7071
Epoch 89/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5949 - accuracy: 0.7074
Epoch 90/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5949 - accuracy: 0.7068
Epoch 91/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5942 - accuracy: 0.7074
Epoch 92/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5945 - accuracy: 0.7074
Epoch 93/100
3391/3391 [==============================] - 8s 3ms/step - loss: 0.5946 - accuracy: 0.7074
Epoch 94/100
3391/3391 [==============================] - 11s 3ms/step - loss: 0.5941 - accuracy: 0.7076
Epoch 95/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5940 - accuracy: 0.7079
Epoch 96/100
3391/3391 [==============================] - 9s 3ms/step - loss: 0.5939 - accuracy: 0.7077
Epoch 97/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5936 - accuracy: 0.7078
Epoch 98/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5942 - accuracy: 0.7074
Epoch 99/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5934 - accuracy: 0.7077
Epoch 100/100
3391/3391 [==============================] - 10s 3ms/step - loss: 0.5933 - accuracy: 0.7080

In [35]:
ann.predict(sc.transform([[14, 2567091, 2, 5, 1, 2010, 2012, 2013, 2, 0, 1]]))

1/1 [==============================] - 0s 292ms/step

array([[0.13896838]], dtype=float32)

In [48]:
import gradio as gr

def predict_(categ,total,status,country,funding_rounds,founded,first_fund,last_fund,investment_type,unique,pors):
    return((ann.predict(sc.transform([[categ,total,status,country,funding_rounds,founded,first_fund,last_fund,investment_type,unique,pors]])))*100)

categ_input=gr.Number(label='Enter category')
total_input=gr.Number(label='Enter total funding')
status_input=gr.Number(label='Enter status')
country_input=gr.Number(label='Enter country')
funding_rounds_input=gr.Number(label='Enter funding_rounds')
founded_input=gr.Number(label='Enter founded year')
first_fund_input=gr.Number(label='Enter first_funded year')
last_fund_input=gr.Number(label='Enter last_funded year')
inv_type_input=gr.Number(label='Enter investment_type')
unique_input=gr.Number(label='Enter unique or Not')
pors_input=gr.Number(label='Enter P/S')

output=gr.Number()

iface = gr.Interface(fn=predict_, inputs=[categ_input,
total_input,
status_input,
country_input,
funding_rounds_input,
founded_input,
first_fund_input,
last_fund_input,
inv_type_input,
unique_input,
pors_input], outputs=output)

iface.launch()

Running on local URL:  http://127.0.0.1:7864

To create a public link, set `share=True` in `launch()`.

1/1 [==============================] - 0s 86ms/step